*{
    box-sizing: border-box;
}
.container .num{
    text-decoration: none;
}
.location{
    color: grey;
}
.icons{
   
}

.container .appeal{
    text-decoration: none;
    height: 30px;
    left: 30px;
    background-color: yellow;
    width: 58px;
}